.cart-area {
    display: grid;
    grid-template-columns: 3fr 1.1fr;
    gap: 40px;
}

.cart-area .delete-btn:hover {
    color: var(--gray);
}








@media (max-width:991px) {
    .cart-area {
        grid-template-columns: 1fr;
    }

}


@media (max-width:556px) {
    .cart-list-area {
        width: 400px;
        overflow-x: auto;
    }

    .cart-area .quantity-buttons {
        width: 120px;
    }

    .cart-area .details {
        width: 200px !important;
        word-wrap: nowrap;
        text-wrap: nowrap;
    }
}