/*_______________________________
  ||     Feature Start Here     ||
________________________________*/
.feature-category-area {
    background-color: var(--white);
    padding: 22px;
}

.feature-category-area .item {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: var(--white-off);
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    transition: transform .2s linear;
}

.feature-category-area .item h5 {
    font-size: var(--fs-sm);
    text-align: center;
    width: 100%;
}

.feature-category-area .item:hover {
    transform: scale(.96);
    outline: 1px solid var(--border-color2);
}

.feature-category-area .item img {
    width: 40px;
}



/*___________________    Hero Category ___________________  */
.hero-area {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 28px;
}

.hero-area .all-department-btn {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 14px 18px;
    font-size: var(--fs-lg);
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}



.hero-area .my-nav-item {
    font-size: var(--fs-md);
}

.hero-area .my-nav-item .my-dropdown li {
    color: var(--gray);
    font-size: var(--fs-sm) !important;
    font-weight: var(--fw-500);
}

.hero-area .my-nav-item .my-dropdown li:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.hero-area .my-nav-item .my-dropdown li a {
    width: 100%;
}





/* banner slider */
.slider-banner {
    margin: auto;
    position: relative;
    border-radius: 10px;
    height: 350px;
    background-color: rgb(173, 170, 170);
}








.visit-shop {
    height: 200px;
    background: linear-gradient(to right, var(--primary-color), var(--primary-hover-color));
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}


.visit-shop .my-btn {
    border: 2px solid var(--border-color2);
    padding: 18px 34px;
    font-size: 17px !important;
}









/*_______________________________
  ||     Brand Section Here     ||
________________________________*/

.brand-section .my-container {
    padding-bottom: 0;
}

.marquee .marqueeone {
    animation: slider-animation 35s linear infinite;
}

.marquee {
    height: 160px;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}


.marqueeone img {
    width: 80%;
    max-width: 250px;
    height: 80%;
    max-width: 240px;
    border-right: 1px solid var(--white-off);
}

.marquee div {
    position: absolute;
    width: 100%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes slider-animation {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}







/*__________________________________
  ||     achivment Section Here     ||
____________________________________*/
.achivment .item {
    padding: 4px;
    border: 2px solid var(--white);
}

.achivment .my-card {
    box-shadow: unset;
    background-color: unset;
    border: 2px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0;
    height: 170px;
}

.achivment .item h4 {
    color: var(--gray);
}












/*__________________________________
  ||     Subcribe Section Here     ||
____________________________________*/
.subcibe-app {
    height: 200px;
    width: 100%;
    position: relative;
}

.subcibe-discount-area {
    height: 200px;
    background: linear-gradient(to left, var(--primary-color), var(--primary-hover-color));
    border-radius: 12px;
    align-items: center;
    justify-content: center;

}

.subcibe-discount-area form {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    padding: 10px;
    border-radius: 12px;
}

.subcibe-discount-area form input {
    border: none;
    background-color: transparent;
}

.subcibe-discount-area form .my-btn {
    width: 200px;
    padding: 18px 20px;
}

.subcibe-discount-area .info {
    /* max-width: 240px; */
    margin-top: 12px;
    color: var(--border-color);
}














@media (max-width:991px) {

    /*_____ Feature _____ */
    .feature-category-area .item {
        width: 110px;
        height: 110px;
    }

    .feature-category-area {
        row-gap: 12px;
    }



    .hero-area {
        grid-template-columns: 1fr;
    }

    .hero .my-container {
        padding-top: 0;
    }

    .hero-area {
        grid-template-columns: 1fr;
    }

    .slider-banner {
        height: 300px;
    }

    .feature-category-area .item h5 {
        font-size: 12px;
    }

}






@media (max-width:769px) {
    .subcibe-discount-area {
        height: 240px;
    }
}

@media (max-width:400px) {
    .hero-area {
        width: 100%;
    }
}