/*_______________________________
  ||     Feature Start Here     ||
________________________________*/
.feature-category-area {
    background-color: var(--white);
    padding: 22px;
}

.feature-category-area .item {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: var(--white-off);
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}













@media (max-width:991px) {


    /*_____ Feature _____ */
    .feature-category-area .item {
        width: 100px;
        height: 100px;
    }

    .feature-category-area {
        row-gap: 12px;
    }



    .hero-area {
        grid-template-columns: 1fr;
    }

    .hero .my-container {
        padding-top: 0;
    }

    .hero-area {
        grid-template-columns: 1fr;
    }


    .banner .slide {
        height: 300px;
        width: 100%;
    }
}






@media (max-width:480px) {

    .banner .slide {
        width: 100%;
    }
}

@media (max-width:400px) {
    .hero-area {
        width: 100%;
    }

    .slides {
        width: calc(100% - 160px) !important;
    }

    .banner .slide {
        width: calc(100% - 160px) !important;
    }
}