.product-details-main-area {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
}

.product-details-main .my-container {
    padding-top: 4px;
}




/*_________________________   Left Side Image   ________________________*/
/*______ Big Images ______*/
.product-details-main .big-image img {
    height: 420px;
    width: 80%;
    margin: 0 auto;
}




/*______  Small Images ______*/
.product-details-main .small-images {
    width: 90%;
    margin: 0 auto;
    overflow-x: auto;
    margin-top: 20px;
    padding: 12px;
}

.product-details-main .small-images img {
    cursor: pointer;
    border-color: var(--border-color2);
    border-radius: 4px;
}

.product-details-main .small-images img.active {
    border-color: var(--secondary-color);
}



/*_________________________    Right Details   ________________________*/
.product-details-main .star i {
    color: var(--green);
    margin-right: -3px;
    transition: .2s linear;
}

.product-details-main .star:hover i {
    color: var(--orange);
}



/*______ Price ______ */
.price .new-price,
.sku-area {
    width: 230px;
}



.price .tag.instock {
    border-radius: 2px;
    position: relative;
    z-index: 1;
    color: var(--border-color);
}


/*______ quick details ______ */
.quick-details ul {
    list-style: disc;
    padding-left: 16px;
}

.quick-details ul li {
    padding-bottom: 4px;
}